[submodule "vkma_xml_generator"]
	path = vkma_xml_generator
	url = https://github.com/Cvelth/vkma_xml_generator
[submodule "third_party"]
	path = third_party
	url = https://github.com/cvelth/third_party
[submodule "script/premake"]
	path = script/premake
	url = https://github.com/cvelth/misc_premake
[submodule "vulkan_hpp_generator_fork"]
	path = vulkan_hpp_generator_fork
	url = https://github.com/Cvelth/vkma_vulkan_hpp_fork
[submodule "vkma_bindings"]
	path = vkma_bindings
	url = https://github.com/Cvelth/vkma_bindings
